.FormComponent {
  margin: 2rem;
  padding-bottom: 1.5rem;
  border: 1px solid #EBEBEB;
  border-radius: 0.3rem;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.FormComponent__InputsContainer {
  display: flex;
  flex-direction: column;
}

.FormComponent__InputsContainer > Input {
  margin: 1rem 0.7rem;
}

.successMsg {
  color: green;
  margin: 0.5rem;
}

.FormComponent__Heading {
  background-color: #9CA3AF;
  display: flex;
  justify-content: flex-start;
  border-radius: 0.5rem;
  max-width: 100%;
}

.FormComponent__Heading__Text {
  font-size: medium;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .FormComponent__InputsContainer {
    flex-direction: row;
  }
}
